@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #121215;
  color: #ece8e1;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #1a1a1e;
  color: #ece8e1;
}

.leaflet-container {
  background: #121215;
}
